*.pyc
*.npz
*.lock
*.bak
*.dat
cache
i386
cnmodel/an_model/model/model_IHC.mexmaci64
cnmodel/an_model/model/model_Synapse.mexmaci64
x86_64
cnmodel/an_model
doc/build
build
dist/
cnmodel.egg*
.cache*
.pytest*
Figure6*




