*.pyc
*.npz
*.lock
*.bak
*.dat
cache
i386
# specific directories and files:
cnmodel_venv  # virutal environment
cnmodel/mechanisms/*.c
cnmodel/mechanisms/*.o
cnmodel/an_model/model/*.mexmaci64
cochleae
examples/*.pdf
examples/*.p
x86_64
cnmodel/an_model
doc/build
build
dist/
cnmodel.egg*
.cache*
.pytest*
Figure6*
cnmodel/cells/tests/cell_data/*
cnmode/synapses/tests/test_data/*
*.dll


