/* CSS Document for hxresurrection.net - Lillian Broox Manis memorial site */
<style type="text/css">

body {
    font-family: Arial, Helvetica; // courier;
    font-size: 1.0em;
    letter-spacing: 3pt;
    font-weight: lighter;
}

#PageBack{
    background-image:url("http://www.hxresurrection.net/images/backgd1.png");
    background-repeat:repeat-x;
    background-attachment: fixed;
    overflow: auto;
}
 
a:link, a:visited { 
	color: #ffffff;
	text-decoration: none;
}

a:hover, a:active {
    color: #ccccff;
    text-decoration: none;
}

#nav { 
    font-family: Arial, Helvetica; //"Courier New", Courier, mono;
    font-size: 0.95em;
    margin-left: 0px;
    margin-top: 10px;
    padding-left: 20px;
    background-image: url("http://www.hxresurrection.net/images/navbox2.png");
    background-repeat: repeat-x;
    background-origin: content;
    width: 150px;
}

#footer {
/*	position: absolute;
	display:block;
	width: 100%
	height: 50px;
*/
	font-family: Arial, Helvetica; // "Courier New", Courier, mono;
	font-size: 0.75em;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	padding-left:  10px;
	background: #999999;
	color: #000000;
}

#text {
	font-family: Arial, Helvetica; //"Courier New", Courier, mono;
	font-size: 0.87em;
	font-weight: normal;
	text-align: left;
}

#text-centered {
	font-family: Arial, Helvetica; //"Courier New", Courier, mono;
	font-size: 0.87em;
	font-weight: normal;
	text-align: center;
}    

#text-indented {
	font-family: Arial, Helvetica; //"Courier New", Courier, mono;
	font-size: 0.87em;
	font-weight: normal;
	text-align: left;
	margin-left: 25px;
	margin-right: 10px;
	margin-top: 10px;
	padding-left:  10px;
}

#textblock {
	font-family: Arial, Helvetica; //"Courier New", Courier, mono;
	font-size: 0.87em;
	font-weight: normal;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	padding-left:  10px;
	color: #000000;
	height: 640px; // 732px;
	width: 640px;
	overflow: auto;
	background-image: url("http://www.hxresurrection.net/images/textbox2.png");
	background-size: 100%;
	background-repeat: x;
}

#titleblock_main {
    font-family: Arial, Helvetica; //"Courier New", Courier, mono;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
}

#titleblock_sub {
    font-family: Arial, Helvetica; //"Courier New", Courier, mono;
	font-size: 0.95em;
	font-weight: normal;
	text-align: center;
}
		
#footnote {
    font-family: Arial, Helvetica; //"Courier New", Courier, mono;
	font-size: 0.75em;
	font-weight: normal;
	text-align: left;
}		

#scroll - Add margin: 0 auto;

td:link {
    font-family: Arial, Helvetica; //"Courier New", Courier, mono;
    font-size: 0.7em;	
}

#pagetitle {
    font-family: Arial, Helvetica; //"Times", Times;
    font-size: 1.12em;
    font-weight: bold;
    text-align: center;
    background-size: 100%;
    background-repeat: x;	
}
 
#list {
    font-family: Arial, Helvetica; //"Courier New", Courier, mono;
    font-size: 0.6em;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 600px;
    padding-left: 10px;
    padding-bottom: 10px;
    height: 600px;
    width: 640px;
    overflow: auto;
    background-image: url("http://www.hxresurrection.net/images/textbox2.png");
    background-size: 100%;
    background-repeat: x;
}
#library_title {
    font-family: Arial, Helvetica; //"Courier New", Courier, mono;
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
}
#library_update {
    font-family:Arial, Helvetica; //"Courier New", Courier, mono;
    font-size: 1.1em;
    text-align: center;
    padding-top: -1px;
    padding-bottom: -1px;
}

table.library {
    font-family: Arial, Helvetica; //"Courier New", Courier, mono;
    font-size: 1.25em;
    text-align: center; 
} 

/* for presentation of poetry */
#poems {
    font-family: "Times", Times;
    font-size: 1.0em;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 640px;
    overflow: auto;
    text-align: center;
    background-image: url("http://www.hxresurrection.net/images/listbox2.png");
    background-size: 100%;
    background-repeat: x;
}

#poemtitle {
    font-family: "Times", Times;
    font-size: 1.20em;
    font-weight: bold;
    text-align: center;
    background-size: 100%;
    background-repeat: x;	
}

#poemformatitalic {
   font-family: "Times", Times;
   font-size: 1.0em;
   font-style: italic;
	background-size: 100%;
	background-repeat: x;	
}

#poemformatfixed {
    font-family: "Courier New", Courier, mono;
    font-size: 0.9em;
    background-size: 100%;
    background-repeat: x;	
}
	
#poempubinfo {
    font-family: Arial, Helvetica; //"Courier New", Courier, mono;
    font-size: 0.85em;
    background-size: 100%;
    background-repeat: x;	
}

#poemcomment {
    font-family: Arial, Helvetica; //"Courier New", Courier, mono;
    font-size: 0.75em;
    background-size: 100%;
    background-repeat: x;	
}

#poemfooter {
    font-family: Arial, Helvetica; //"Times", Times;
    font-size: 1.0em;
    text-align: center;
    width: 630px;
    background-size: 100%;
    background-repeat: x;	
}

#lyricformat {
    font-family: "Times", Times;
    font-size: 1.0em;
    font-style: italic;
    background-size: 100%;
    background-repeat: x;	
}

#art {
    font-family: Arial, Helvetica; //"Times", Times;
    font-size: 0.85em;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: url("http://www.hxresurrection.net/images/listbox2.png");
    width: 640px;
    overflow: auto;
}

#pubinfo {
    font-family: Arial, Helvetica; //"Courier New", Courier, mono;
    font-size: 0.75em;
    background-size: 100%;
    background-repeat: x;	
}

#comment {
    font-family: Arial, Helvetica; //"Courier New", Courier, mono;
    font-size: 0.75em;
    background-size: 100%;
    background-repeat: x;	
}

#photos {
    font-family: Arial, Helvetica; //"Courier New", Courier, mono;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-left:  10px;
    color: #000000;
    height: 640px;
    width: 640px;
    background-image: url("http://www.hxresurrection.net/images/textbox2.png");
    background-size: 100%;
    background-repeat: x;
    background-size: 100%;
    overflow: auto;
}

</style>

